@tailwind base;
@tailwind components;
@tailwind utilities;

#display {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  @media print {
    #display {
      display: flex;
      height: auto;
      width: 100%;
      align-items: center;
    }
  }

  #field img {
    height: 9vh;
    max-width: 100%;
  }

  #code {
    font-weight: 700;
    font-size: 17px;
    text-align: justify;
    text-align-last: justify;
  }
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-item {
    flex: 0 0 calc(33.333% - 10px); /* Tamaño de 3 imágenes en una fila con espaciado */
    position: relative;
}

.imagenfondo {
  background-image: url("../../public/imagenes/hexagonfondo.jpg");
  background-size: cover; /* O ajusta según tus necesidades */
  background-position: center; /* O ajusta según tus necesidades */
  background-repeat: no-repeat; /* O ajusta según tus necesidades */
}