@tailwind base;
@tailwind components;
@tailwind utilities;

#display {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  @media print {
    #display {
      display: flex;
      height: auto;
      width: 100%;
      align-items: center;
    }
  }

  #field img {
    height: 9vh;
    max-width: 100%;
  }

  #code {
    font-weight: 700;
    font-size: 17px;
    text-align: justify;
    text-align-last: justify;
  }